# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

EXPO_PUBLIC_SUPABASE_URL=your_supabase_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

EXPO_PUBLIC_LEAD_CONNECTORHQ_URL="lead_connector_url"
EXPO_PUBLIC_LEAD_UPDATE_CONNECTORHQ_URL="lead_update_user_data"

EXPO_PUBLIC_SENTRY_DSN="your_sentry_dsn_here"
SENTRY_AUTH_TOKEN="your_sentry_auth_token"

# Make.com webhook parameters
EXPO_PUBLIC_MAKE_HOOK_URL="make_hook_url"